.env 
faiss_index_pdfs/ 
__pycache__/ 
.vscode/ 
documentos/*.pdf 
*.pyc 
venv/ 
.env 
faiss_index_pdfs/ 
__pycache__/ 
.vscode/ 
documentos/*.pdf 
*.pyc 
.venv/ 
*.log 
.env 
faiss_index_pdfs/ 
__pycache__/ 
.vscode/ 
documentos/*.pdf 
*.pyc 
.venv/ 
*.log 
